title: AkShare Backend API
description: 期货和股票数据 RESTful API 服务文档
theme: jekyll-theme-cayman
url: "https://byteappua-actix-ak.zeabur.app"
baseurl: ""

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge

defaults:
  - scope:
      path: ""
    values:
      layout: default
